*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;                                      
    text-transform: capitalize;
    text-decoration: none;

}
body{

scroll-behavior: smooth;
overflow-x: hidden;

}
/* header start */
header{
    background-image: url(ursm.jpg);
    background-repeat: no-repeat;
background-size: 100% 100%;
padding-bottom: 38%;
overflow: hidden;
box-shadow: -2px 15px 5px 0px rgba(0,0,0,0.75);
}

header nav{
    margin: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    padding-left: 3rem;

}
header nav .logo .ursmlogo a img{
  margin-left: 4rem;
  z-index: 1;

  }  

header nav .logo {
  position: relative;
  display: flex;
}
header nav .logo .logo-sub{
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
}

header nav .logo .ursmain{
  position: absolute;
  top: 9rem;
  left: -2rem;
}
header nav .logo .ursmain .maindescrip {
  position: inherit;
  top: 24rem;
  left:9rem;
  background-color: rgba(0, 0, 0, 0.309);
padding: 1rem .5rem;
}
header nav .logo .ursmain .maindescrip p  {
color: rgb(212, 212, 212);
font-size: 1.3rem;
text-align: justify;
line-height: 1.7rem;
   }

header nav a img{
    width: 7rem;
    height: 6rem;
}
header nav .container{
    margin: 2rem;
}

header nav.container {
    position: relative;
  }

  .image {
    display: block;
  }

 header nav .container .text {
    position: absolute;
    top: 0;
    right: -150;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 0%;
    opacity: 0;
    transition: opacity 0.5s;
    margin-left: 40rem;
overflow: hidden;
  }
  header nav .container:hover .text {
    opacity: 1;
    right: 0;
    width: 19.5%;
    height: 97.5%;
  }

  header nav .container .text ul {
    float: right;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-stretch: ultra-condensed;

    opacity: 80%;
    list-style: none;
  }
  
  header nav .container .text ul  a li{
    color: #ffffff;
    
  }
 
  header nav .container .text ul  li{
 padding:0 3rem ;
 line-height: 4rem;
  }
  header nav .container .text ul a li:hover{
 background-color: #fff;
 color: black;
  }

/* header end */

/* arrow up */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: initial;
    width: 40px;
    height: 40px;
    background-color: #1f11e0e5;
    color: #141414;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    z-index: 9999;
  }
  
/* About Us start */
.about_us{
  background: linear-gradient(to top right, #2615c4 1%, #000000 100%);
    width: 100%;
    height: 40%;
    box-shadow: -2px 15px 5px 0px rgba(0,0,0,0.75);
}
.about_us .about-main {
    display: flex;
  padding: 0 5%;
  margin: 0 3%;
}
.about_us .about-main .about-sub h3{
  text-transform: uppercase;
  font-size: 2.6rem;
  color: #ffffffd6;
  text-align: center;
  margin-top: 5%;
}
.about_us .about-main .about-sub p{
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2rem;
  color: #ffffffb1;
  padding-bottom: 4rem;
  margin-top: 2rem;
  font-stretch: ultra-condensed;
}
/* About Us end */

/* vision,mission,core-values start */
.vision{
  background: linear-gradient(to top right, #2615c4 1%, #000000 100%);
  width: 100%;
  height: 80%;
  
}
.vision .vision-main{
  padding: 2% 3%;
  margin: 0 3%;
  display: flex;
}

.vision .vision-main .vision-sub{
font-size: 1.5rem;
line-height: 2rem;
font-stretch: ultra-condensed;
margin: 0 1%;
text-align:justify;
border: 1px solid black;
border-radius: 1rem;
box-shadow: -2px 15px 5px 0px rgba(0,0,0,0.75);
}

.vision .vision-main .vision-sub h3{
  margin-top: 2%;
}

.vision .vision-main .vision-sub p{
  margin-top: 2%;
}
.vision .vision-main #mission{
background-color: #fff;
padding: 0 2rem;
padding-top: 1rem;
}
.vision .vision-main #vission{
  background-color: #1909a5f3;
  color: white;
  padding: 0 2rem;
  padding-top: 1rem;
}
.vision .vision-main #core{
  text-align: left;
  background-color: #fff;
  padding:  1rem 2rem;
  font-size: 1.4rem;
}
/* vision,mission,core-values ends */














@media (max-width: 1920px) {
  header nav .logo .ursmlogo a img {
    margin-left: 2.7rem;
    } 
    header nav .logo .logo-sub{
      left: -.1rem;
    }
    header nav .logo .ursmain{
      top: 9rem;
      left: -5rem;
    }
    header nav .container .text ul  li{
       padding: 0 2.3rem;
       line-height: 5rem;
         }
}

@media (max-width: 1366px) {
  header{
    padding-bottom: 35%;
  }
  header nav{
    margin-top: 1rem;
}
  header nav .logo .ursmlogo a img{
   height: 80px;
   margin-left: 2rem;
   margin-top: 2.2rem;
    }  
    header nav .logo .logo-sub{
      position: absolute;
      top: 5rem;
      left: -1rem;
    }
  header nav .logo .ursmain{
    top: 8rem;
    left: -9rem;
  }
     header nav .logo .ursmain img{
      height: 270px;
     }
     header nav .logo .ursmain .maindescrip {
      top: 15rem;
      left:17rem;
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
    header nav .container img{
      height: 40px;
      width: 60px;
      position: absolute;
      top: 6rem;
      right: 5rem;
  }
  header nav .container .text ul  li{
    line-height: 3.6rem;
    font-size: 1.5rem;
      }
      header nav .container:hover .text {
        width: 22.3%;
        height: 102.3%;
      }
      header nav .container .text {
        overflow: hidden;
      }
    /* about us start */
    .about_us .about-main .about-sub h3{
      font-size: 2.2rem;
    }
      .about_us .about-main .about-sub p{
        font-size: 1.3rem;
        padding-bottom: 2rem;
        margin-top: 2rem;
        font-stretch: ultra-condensed;
      }
          /* about us ends */
          /* vision,mission,core-values start */
          
.vision .vision-main .vision-sub{
  font-size: 1.3rem;
  line-height: 2rem;
  font-stretch: ultra-condensed;
  margin: 0 .5%;
  }
  .vision .vision-main #mission{
    display: grid;
    grid-template-columns: 500px;
  }
  .vision .vision-main .grid{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: .5rem;
  }
/* vision,mission,core-values start */

     @media (max-width: 768px ){
      header{
        padding-bottom: 50%;
      }
      header nav{
        margin-top: 1rem;
    }
      header nav .logo .ursmlogo a img{
       height: 50px;
       margin-left: -.1rem;
       margin-top: 4rem;
        }  
        header nav .logo .logo-sub{
          position: absolute;
          top: 5.5rem;
          left: -1rem;
          
        }
        header nav .logo .logo-sub img{
          width: 130px;
        }
      header nav .logo .ursmain{
        top: 8.5rem;
        left: 4.2rem;
      }
         header nav .logo .ursmain img{
          height: 180px;
          width: 550px;
         }
         header nav .logo .ursmain .maindescrip {
          top: 11rem;
          left:-5.9rem;
          padding: .5rem .5rem;
        }
         header nav .logo .ursmain .maindescrip p{
         font-size: 1.2rem; 
         line-height: 1.5rem;
        }
        header nav .container img{
          height: 35px;
          width: 60px;
          position: absolute;
          top: 6rem;
          right: 5rem;
      }

      header nav .container .text {
        overflow: hidden;
      }
  header nav .container:hover .text {

    width:52%;
    height: 53.7%;
  }

  header nav .container .text ul  li{
 padding:0 5rem ;
 font-size: 1.6rem;
 line-height: 2.8rem;
  }
        /* about us start */
        .about_us .about-main .about-sub h3{
          font-size: 2.2rem;
        }
          .about_us .about-main .about-sub p{
            font-size: 1.3rem;
            padding-bottom: 2rem;
            margin-top: 2rem;
            font-stretch: ultra-condensed;
          }
              /* about us ends */
              /* vision,mission,core-values start */
.vision .vision-main{
 padding: 2% 3%;
  margin: 0 3%;
flex-wrap: wrap;
              }
    .vision .vision-main .vision-sub{
      font-size: 1.3rem;
      line-height: 2rem;
      font-stretch: ultra-condensed;
      margin: 0 .5%;
      margin-bottom: 1rem;
    
      }
      
.vision .vision-main .vision-sub h3{
  margin-top: 2%;
}

.vision .vision-main .vision-sub p{
  margin-top: 2%;
}
.vision .vision-main #mission{
background-color: #fff;
padding: 0 2rem;
padding-top: 1rem;
display: grid;
grid-template-columns: 600px;
}
.vision .vision-main #vission{
  background-color: #1909a5f3;
  color: white;
  padding: 0 2rem;
  padding-top: 1rem;
  font-size: 1.3rem;
 
}
.vision .vision-main #core{
  text-align: left;
  background-color: #fff;
  padding:  1rem 2rem;
  font-size: 1.3rem;
}
.vision .vision-main .grid{
  display:grid;
  grid-template-columns: 49% 49%;
  gap: .5rem;
  
}
/* vision,mission,core-values ends */

     }
}

@media (max-width: 411px ){
  header{
    padding-bottom: 75%;
  }

  header nav .logo .ursmlogo a img{
   height: 40px;
   width: 80px;
   margin-left: -1.3rem;
   margin-top: 2rem;
    }  
    header nav .logo .logo-sub{
      position: absolute;
      top: 3rem;
      left: -2.9rem;
      
    }
    header nav .logo .logo-sub img{
      width: 130px;
    }
     header nav .logo .ursmain img{
      height: 150px;
      width: 300px;
     }
     header nav .logo .ursmain{
      top: 7rem;
      left: -1rem;
    }
    header nav .logo .ursmain .maindescrip p{
      font-size: .8rem; 
      line-height: .8rem;
     }
     header nav .logo .ursmain .maindescrip {
      top: 9rem;
      left:0rem;
      padding: .5rem .5rem;
    }
   
    header nav .container img{
      height: 30px;
      width: 50px;
      position: absolute;
      top: 3.5rem;
      right: 3rem;
  }


header nav .container:hover .text {
width:60%;
height: 59.7%;
}
header nav .container .text {
  overflow: hidden;
}

header nav .container .text ul  li{
padding:0 3rem ;
font-size: 1rem;
line-height: 2.4rem;
}
    /* about us start */
    .about_us .about-main .about-sub h3{
      font-size: 1.8rem;
      margin-top: 3rem;
    }
      .about_us .about-main .about-sub p{
        font-size: 1.1rem;
        margin-top: 1.5rem;
      }
          /* about us ends */
          /* vision,mission,core-values start */
.vision .vision-main{
padding: 4% 3%;
          }
.vision .vision-main .vision-sub{
  font-size: 1rem;
  }

.vision .vision-main .vision-sub p{
padding-bottom: 1rem;
}
.vision .vision-main #mission{
grid-template-columns: 296px;
line-height: 1.7rem;
}
.vision .vision-main #vission{
font-size: 1rem;
line-height: 1.4rem;
}
.vision .vision-main #core{
font-size: 1rem;
line-height: 1.6rem;
}
.vision .vision-main .grid{
grid-template-columns: 49% 49%;
}
/* vision,mission,core-values ends */

}

@media (max-width: 375px ){
 header {
  padding-bottom: 79%;
 }
     header nav .logo .ursmain .maindescrip {
      left:-2.5rem;
    }

header nav .container:hover .text {
width:68%;
height: 52%;
}
header nav .container .text {
  overflow: hidden;
}
header nav .container .text ul  li{
font-size: 1.1rem;
line-height: 2.1rem;
}
    /* about us start */
      .about_us .about-main .about-sub p{
   line-height: 1.5rem;
      }
          /* about us ends */
          /* vision,mission,core-values start */


.vision .vision-main #mission{
grid-template-columns: 268px;
line-height: 1.5rem;
font-size: 1.1rem;
}
.vision .vision-main #vission{
font-size: 1rem;
line-height: 1.5rem;
}
.vision .vision-main #core{
font-size: 1rem;
line-height: 1.4rem;
}
.vision .vision-main .grid{
  grid-template-columns: repeat(auto-fit, 334px);
}
/* vision,mission,core-values ends */

}


@media (max-width: 360px ){
  header{
    padding-bottom: 78%;
  }

  header nav .logo .ursmlogo a img{
   height: 38px;
   margin-top: 1rem;
    }  
    header nav .logo .logo-sub{
      top: 1.5em;
      left: -2.2rem;
    }
    header nav .logo .logo-sub img{
      width: 100px;
    }
     header nav .logo .ursmain{
      top: 6rem;
      left: -2.5rem;
    }
    header nav .logo .ursmain .maindescrip p{
      font-size: .6rem; 
      line-height: .7rem;
     }
     header nav .logo .ursmain .maindescrip {
      top: 8.5rem;
      left:0;
    }
   
    header nav .container img{
      height: 25px;
      width: 50px;
      position: absolute;
      top: 2.8rem;
      right: 1.8rem;
  }


  header nav .container .text {
    overflow: hidden;
  }
header nav .container:hover .text {
width:109%;
left: -42rem;
height: 54.6%;
}

header nav .container .text ul  li{
padding-right: 11rem;
line-height: 2.2rem;
}
    /* about us start */
    .about_us .about-main .about-sub h3{
      font-size: 1.5rem;
      margin-top: 2rem;
    }
      .about_us .about-main .about-sub p{
        font-size:.8rem;
        margin-top: 1rem;
        line-height: 1.1rem;
      }
          /* about us ends */
      /* vision,mission,core-values start */


.vision .vision-main #mission{
  grid-template-columns: 255px;
  line-height: 1.4rem;
  font-size: .9rem;
  }
  .vision .vision-main #vission{
  font-size: .9rem;
  line-height: 1.4rem;
  }
  .vision .vision-main #core{
  font-size: .9rem;
  line-height: 1.4rem;
  }
  .vision .vision-main .grid{
    grid-template-columns: repeat(auto-fit, 325px);
  }
  /* vision,mission,core-values ends */
}


@media (max-width: 375px ){
  header{
    padding-bottom: 67%;
  }
    header nav .logo .ursmain .maindescrip p{
      font-size: .6rem; 
      line-height: .75rem;
     }

header nav .container:hover .text {
width:109%;
left: -42rem;
height: 56.2%;
}

header nav .container .text ul  li{
padding-right: 12rem;
line-height: 2.1rem;
}
    /* about us start */
    .about_us .about-main .about-sub h3{
      font-size: 1.5rem;
      margin-top: 2rem;
    }
      .about_us .about-main .about-sub p{
        font-size:.8rem;
        margin-top: 1rem;
        line-height: 1.1rem;
      }
          /* about us ends */
      /* vision,mission,core-values start */


.vision .vision-main #mission{
  grid-template-columns: 255px;
  line-height: 1.4rem;
  font-size: .9rem;
  }
  .vision .vision-main #vission{
  font-size: .9rem;
  line-height: 1.4rem;
  }
  .vision .vision-main #core{
  font-size: .9rem;
  line-height: 1.4rem;
  }
  .vision .vision-main .grid{
    grid-template-columns: repeat(auto-fit, 325px);
  }
  /* vision,mission,core-values ends */
}
@media (max-width: 360px ){
  

  header nav .container .text ul  li{
  padding-right: 11rem;
  line-height: 2rem;
  }
}


@media (max-width: 330px ){
  header{
    padding-bottom: 85%;
  }

  header nav .container .text {
    overflow: hidden;
  }
header nav .container:hover .text {
width:109%;
left: -42rem;
height: 58.6%;
}

header nav .container .text ul  li{
padding-right: 9rem;
line-height: 2.2rem;
}
   
}